<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.graduation.dao.ZichanDao">
    <resultMap type="Zichan" id="zichanResult">
        <result property="id" column="id"/>
        <result property="mingcheng" column="mingcheng"/>
        <result property="suoyouzhe" column="suoyouzhe"/>
        <result property="weihuzhe" column="weihuzhe"/>
        <result property="state" column="state"/>
        <result property="weizhi" column="weizhi"/>
    </resultMap>

    <select id="findAll" parameterType="Map" resultMap="zichanResult">
        select * from zichan
    </select>
    
    <insert id="insertzichan" parameterType="Zichan">
        insert into
        zichan
        values(null,#{mingcheng},#{suoyouzhe},#{weihuzhe},#{state},#{weizhi})
    </insert>
    
     <update id="updatezichan" parameterType="Zichan">
        update zichan
        set
        mingcheng=#{mingcheng},
        suoyouzhe=#{suoyouzhe},
        weihuzhe=#{weihuzhe},
        state=#{state},
        weizhi=#{weizhi}
        where id=#{id}
    </update>
    
    <delete id="deletezichan" parameterType="Zichan">
    	delete from zichan 
    	where id=#{id}
    </delete>
</mapper> 